* {
    margin: 0;
    padding: 0;
}

body {
    font: 71%/1.5 Verdana, Sans-Serif;
    background: #060606;
}

#container {
    margin: 100px auto;
    width: 688px;
}

#write {
    margin: 0 0 5px;
    padding: 5px;
    width: 671px;
    height: 200px;
    font: 1em/1.5 Verdana, Sans-Serif;
    background: #060606;
    border: 1px solid #060606;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#write{
    border: groove;
    color: white;
}
#keyboard {
    margin: 0;
    padding: 0;
    list-style: none;
}

#keyboard li {
    float: left;
    margin: 0 5px 5px 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #060606;
    border: 1px solid #060606;
    color: white;
    border: groove;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.lastitem {
    margin-right: 0;
    }
#keyboard .space {
    clear: left;
    width: 400px;
}


